@font-face {
  font-family: "Inter-Regular";
  src: url("/assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/assets/fonts/static/Inter-ExtraBold.ttf");
}

body {
  font-family: "Inter-Regular";
  font-size: 15px;
}

h1.title {
  font-family: "Inter-Bold";
}

.mobile-menu {
  display: none;
}

.mobile__menu-icon {
  cursor: pointer;
  max-height: 30px;
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

ul.desktop__list-menu li {
  display: inline;
  cursor: pointer;
  color: #888;
  margin-right: 2rem;
}

p.excerpt {
  color: #999;
  line-height: 1.75rem;
}

.read-more {
  background-color: #f15e50;
  padding: 12px 8px;
  color: white;
  margin-bottom: 1rem;
  max-width: 100px;
  text-align: center;
}


/* ---- mobile config ---- */
@media screen and (max-width: 375px){
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
  }
}