@font-face {
  font-family: "Inter-Regular";
  src: url("/assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/assets/fonts/static/Inter-ExtraBold.ttf");
}

body {
  font-family: "Inter-Regular";
  font-size: 15px;
}

h1.title {
  font-family: "Inter-Bold";
}

.mobile-menu {
  display: none;
}

.mobile__menu-icon {
  cursor: pointer;
  max-height: 30px;
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

ul.desktop__list-menu li {
  display: inline;
  cursor: pointer;
  color: #888;
  margin-right: 2rem;
}

ul.desktop__list-menu li:hover, .sub-new-content h4:hover {
  color:#e9ab53;
}

p.excerpt {
  color: #999;
  line-height: 1.75rem;
}

.read-more {
  background-color: #f15e50;
  font-weight: bold;
  padding: 12px 16px;
  color: white;
  margin-bottom: 1rem;
  max-width: 100px;
  text-align: center;
  cursor: pointer;
}

.read-more:hover {
  background-color: hsl(240, 100%, 5%);
}

.new-content {
  background-color: hsl(240, 100%, 5%);
  padding: 1rem;
  color: #fffdfa;
  margin-top: 3rem;
}

.new-content h3.title {
  color: #e9ab53;
  font-family: "Inter-Bold";
  font-size: 1.5rem;
  line-height: .75rem;
  margin-bottom: 2.5rem;
}

.sub-new-content {
  border-bottom: 1px solid #fffdfa;
  padding-bottom: 1rem;
}

.sub-new-content:last-child {
  border-bottom: none;
}

.sub-new-content h4 {
  font-family: "Inter-Bold";
  font-size: 1.25rem;
  line-height: 0.6rem;
  cursor: pointer;
}

.sub-new-content p {
  color: #999;
}

.popular-content, .sub-popular-content {
  margin-top: 2rem;
}

.popular-content {
  margin-bottom: 3rem;
}

.sub-popular-content {
  display: flex;
}

.popular-content__images img {
  max-width: 110px;
  height: 100%;
}

.popular-content__data {
  margin-left: 10px;
}

.popular-content__number, .popular-content__title {
  font-family: 'Inter-Bold';
}

.popular-content__number {
  font-size: 36px;
  margin-top: 2px;
  margin-bottom: 0px;
  color: #aaa;
}

.popular-content__title {
  font-size: 20px;
  margin: 0 auto;
}

.popular-content__title:hover {
  color: #f15e50;
  cursor: pointer;
}

.popular-content__excerpt {
  margin-top: 5px;
  color: #999;
}


/* ---- mobile config ---- */
@media screen and (max-width: 375px){
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
  }

  .mm__background {
    width: 100%;
    height: 100%;
    background-color: #00001a;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.75;
  }

  .mm__list-menu {
    background-color: #fffdfa;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 250px;
  }

  .mm__close-button {
    margin: 1rem;
    text-align: right;
  }

  #close-modal-mobile {
    cursor: pointer;
  }

  .mm__list-menu ul {
    list-style-type: none;
    margin-left: -20px;
  }

  .mm__list-menu ul li {
    margin-top: .75rem;
    padding: .5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 980px ) {
  .popular-content {
    display: flex;
  }

  .sub-popular-content {
    margin-right: .5rem;
  }
}